@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

html {
scroll-behavior: smooth;
}

a {
text-decoration: none;
color: black;
} 

#down {
margin-top: 100%;
padding-bottom: 25%;
}

#top {
    margin-bottom: 100%;
}

@keyframes popupanimation {
0% {bottom: -100px;}
100% {bottom: 20px;}
}

.btnscrollup {
    animation-name: popupanimation;
    animation-duration: 0.2s;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.btnscrollup:hover {
    background-color: rgba(255, 0, 0, 0.616);
}

@keyframes wiggle {
  0% { transform: skewX(9deg); } 
  10% { transform: skewX(-8deg); } 
  20% { transform: skewX(7deg); } 
  30% { transform: skewX(-6deg); } 
  40% { transform: skewX(5deg); } 
  50% { transform: skewX(-4deg); } 
  60% { transform: skewX(3deg); } 
  70% { transform: skewX(-2deg); } 
  80% { transform: skewX(1deg); } 
  90% { transform: skewX(0deg); } 
  100% { transform: skewX(0deg); } 
} 

.titlewhitetext {
    color: white;
    left: 18.6cm;
    top: 7cm;
    position: relative;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
}

.titlewhitetext:hover {
    color: #0088a9;
    animation-name: wiggle;
    animation-duration: 1s;
}

.titleredtxt {
    color: red;
    position: relative;
    left: 18.5cm;
    top: 7cm;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
}

.titleredtxt:hover {
    color: rgb(73, 197, 187);
}

.btnscroll {
z-index: 99; 
position: relative;
border: none; 
outline: none; 
background-color: red;
color: white;
cursor: pointer; 
padding: 6mm; 
border-radius: 3.4mm; 
font-size: 4.8mm; 
top: 5cm;
}

.btnscroll:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: #24252A;
}

li, a, button {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size:  4.4mm;
color: #edf0f1;
text-decoration: none;
}

header {
display: flex;
justify-content: flex-end;
align-items: center;
padding: 10mm 10%;
}

.logo {
cursor: pointer;
margin-right: auto;
}

.nav_links {
list-style: none;
}

.nav_links li {
display: inline-block;
padding: 0cm 5mm;
}

.nav_links li a {
transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
color: #0088a9
}

button {
right: 100px;
margin-left: 20px;
padding: 9px 25px;
background-color: rgba(0, 136, 169, 1);
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

button:hover {
background-color: rgba(0, 136, 169, 0.8);
}

.whitetext {
color: white;
}

form {
    margin-top: 1cm;
    align-content: center;
}

.form-control {
    top: 9cm;
    width: 15.3cm;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0.3mm solid gray;
    color: rgba(0, 136, 169, 0.8);
    font-size: 5mm;
    align-content: center;
    right: 13.4cm;
    position: relative;
}

form .submit {
    background-color: #0088a9;
    border-color: transparent;
    color: white;
    font-size: 5.6mm;
    letter-spacing: 0.2mm;
    height: 1.4cm;
    margin-top: 0.6cm;
    transition: 0.4s ease;
}

form .submit:hover {
    background-color: teal;
    cursor: pointer;
}

.main {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
  }

  .imagefilter {
    background-image: url('./images/searchicon.png');
    background-size: 3cm;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);

    display: block;
    width: 4cm;
    height: 4cm;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.imagefilter:hover {
    background-size: 3.6cm;
}

* {
    background-color: #111111;
}

body { background-color: #111111; }

.error404 {
  top: 9cm;
  right: 7cm;
  padding: 8mm;
  font-size: 2cm;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  color: red;
  position: relative;
}
.error404 p { margin:0; }
#error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
#code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#error {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#error span {
  animation: upper 11s linear infinite;
}
#code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}


.smallerror404 {
    top: 15cm;
    right: 16.2cm;
    padding: 6mm;
    font-size: 1.2cm;
    font-family: 'Monoton', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    color: red;
    position: relative;
  }
  .smallerror404 p { margin:0; }
  #error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
  #code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
  #error {
    color: #fff;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  #error span {
    animation: upper 11s linear infinite;
  }
  #code span:nth-of-type(2) {
    animation: lower 10s linear infinite;
  }
  #code span:nth-of-type(1) {
    text-shadow: none;
    opacity:.4;
  }
  @keyframes upper {
    0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
      opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
    }
    20%,21.999%,63%,63.999%,65%,69.999% {
      opacity:0.4; text-shadow: none; 
    }
  }
  @keyframes lower {
    0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
      opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    }
    19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
      opacity:0.4; text-shadow: none; 
    }
  }

  .discord {
    left: 10cm;
    background-image: url('./images/discord.png');
    background-size: 0.9cm;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    position: relative;

    display: block;
    width: 1.2cm;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
}

.discord:hover {
    background-size: 1.2cm;
    opacity: 80%;
}